# simple mathematical operations

In [1]:
1+2#addition

3

In [2]:
2-1#substraction

1

In [5]:
4/2#division

2.0

In [6]:
4*2#multiplication

8

In [7]:
4**2#exponent (power) a^b

16

In [12]:
import math as mt
mt.log(10) #by defalut base e, natural logarithm
mt.log(10,2)#base 2
#only the last value gets displayed, so we have to use "print" statement to overcome this problem

3.3219280948873626

In [13]:
print('natual logarithm:',mt.log(10))
print('log to the base 2:',mt.log(10,2))

natual logarithm: 2.302585092994046
log to the base 2: 3.3219280948873626

In [94]:
10%2 #returns remainder

0

In [95]:
10/2 #returns quotient

5.0

In [ ]:
from math import #press tab to see what functions are supported by math

In [16]:
1+2j

(1+2j)

# variables

In [19]:
x=1+2j 
x
#whats in x.

(1+2j)

In [20]:
x.real

1.0

In [21]:
x.imag

2.0

In [24]:
x.conjugate()

(1-2j)

# datatypes and dynamic type allocation

In [28]:
y=10
print('value of y:',y)
print('type of y:',type(y))

value of y: 10
type of y: <class 'int'>

In [29]:
y=10.0
print('value of y:',y)
print('type of y:',type(y))

value of y: 10.0
type of y: <class 'float'>

In [30]:
y='sage'
print('value of y:',y)
print('type of y:',type(y))

value of y: sage
type of y: <class 'str'>

In [31]:
x=10
k=10.2
z=x+k
print('value of z:',z)
print('type of z:',type(z))#automatically type casts to higher variable

value of z: 20.2
type of z: <class 'float'>

In [33]:
y='sage'
m=10
y+m

TypeError: can only concatenate str (not "int") to str

In [34]:
y+str(m)#manual type casting or type conversion

'sage10'

In [35]:
y+' '+str(m)

'sage 10'

In [37]:
m=10/2
m

5.0

In [38]:
int(m)

5

### boolean type

In [39]:
type(True) #True is treated like 1

bool

In [41]:
type(False)#False is treated like 0

bool

In [51]:
True+True

2

In [52]:
3*True

3

In [53]:
3*False

0

In [42]:
True and False #and gate is simliar to multiplication True=1 False=0 so 1*0=0 which is False

False

In [50]:
True & False # and can also be represented using ampersand

False

In [43]:
True and True

True

In [48]:
True & True

True

In [49]:
True & False

False

In [56]:
True or False# or is like addition, True=1 False=0 so 1+0=1 which is True

True

In [57]:
True | False

True

In [58]:
True is True

True

In [59]:
True is False # "is" is similar to ==

False

In [60]:
x=10
x is 20

False

In [61]:
x==20

False

In [62]:
not False

True

In [63]:
not True

False

In [67]:
bool(True)

True

In [68]:
bool(False)

False

In [69]:
bool(0)

False

In [70]:
bool(10)

True

In [71]:
bool(1)

True

In [73]:
bool(None)

False

In [ ]:
bool(not 10)

In [ ]:
10==10

In [ ]:
10>10

In [ ]:
10<10

In [ ]:
10>=10

In [ ]:
10<=10

In [ ]:
10!=10

In [88]:
10>10 or 10==10

True

In [89]:
10>10 and 10==10

False

# if else statements

In [80]:
x=10
if x is 10:
    print('x value is 10')

x value is 10

In [81]:
if x!=10:
    print('this is senseless condition!!Sri')

In [85]:
if x!=10:
    print('x not equal to 10')
else:
      print('this is senseless condition!!Sri')

this is senseless condition!!Sri

In [ ]:
if x!=10:
    print('x not equal to 10')
else:
      print('this is senseless condition!!Sri')

In [87]:
if x>10:
    print('x is greater than 10')
elif x<10:
    print('x is less than 10')
elif x!=10:
    print('x is not equal to 10')
else:
    print('all of the above conditions are senseless!!Sri')

all of the above conditions are senseless!!Sri

# Recall time

convert the 24 degrees centigrade to fahrenheit and if the fahrenheit falls between 
<32 output-> temperature is "print temp" and it is freezing
32-37 output->temperature is "print temp" and it is too cold
38-59 output->temperature is "print temp" and it is cold
60-72 output->temperature is "print temp" and it is warm
anything above 73->temperature is "print temp" and it is boiling

# loops

In [93]:
for i in range(10):
    print(i)

0
2
4
6
8

between 1-50 print only even numbers

between 1-50 print only odd numbers

can you combine above two programs into one

### Nested for loops

In [101]:
for i in range(3):
    for j in range(1,3):
        print(i,j)

0 1
0 2
1 1
1 2
2 1
2 2